<div mat-dialog-content>
  <div class="login100-form-title p-t-10">
    Nuevo Usuario
  </div>
  <mat-divider></mat-divider>
  <form class="grid" [formGroup]="formUser" autocomplete="off">
      <div class="col-12 md:col-4 lg:col-4">
        <mat-form-field appearance="outline">
          <mat-label>N° de Cédula</mat-label>
          <input
            matInput
            formControlName="usuario"
            type="text"
            #input
            maxlength="10"
          />
          <mat-hint *ngIf="isValidField('usuario')">{{
            getFieldError("usuario")
          }}</mat-hint>
          <mat-hint class="hint" align="end"
            >{{ input.value.length }}/10</mat-hint
          >
          <mat-icon matSuffix>credit_card</mat-icon>
        </mat-form-field>
      </div>

      <div class="col-12 md:col-8 lg:col-8">
        <mat-form-field appearance="outline">
          <mat-label>Nombre Completo</mat-label>
          <input matInput formControlName="nombre" />
          <mat-hint *ngIf="isValidField('nombre')">{{
            getFieldError("nombre")
          }}</mat-hint>
          <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>
      </div>

      <div class="col-12 md:col-6 lg:col-6">
        <mat-form-field appearance="outline">
          <mat-label><strong>Contraseña</strong> </mat-label>
          <input
            autocomplete="new-password"
            matInput
            [type]="hide ? 'password' : 'text'"
            formControlName="contrasenia"
            placeholder="Ingrese una contraseña"
          />
          <mat-hint *ngIf="isValidField('contrasenia')">{{
            getFieldError("contrasenia")
          }}</mat-hint>
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <div class="col-12 md:col-6 lg:col-6">
        <mat-form-field appearance="outline">
          <mat-label><strong>Confirmar la Contraseña</strong> </mat-label>
          <input
            autocomplete="new-password"
            matInput
            [type]="hide2 ? 'password' : 'text'"
            formControlName="contrasenia2"
            placeholder="Vuelva a escribir su contraseña"
          />
          <mat-hint *ngIf="isValidField('contrasenia2')">{{
            getFieldError("contrasenia2")
          }}</mat-hint>
          <button
            mat-icon-button
            matSuffix
            (click)="hide2 = !hide2"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide2"
          >
            <mat-icon>{{ hide2 ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <div class="col-12 md:col-12 lg:col-12">
        <mat-form-field appearance="outline">
          <mat-label>Puesto</mat-label>
          <input matInput formControlName="puesto" />
          <mat-hint *ngIf="isValidField('puesto')">{{
            getFieldError("puesto")
          }}</mat-hint>
          <mat-icon matSuffix>work</mat-icon>
        </mat-form-field>
      </div>

      <div class="col-12 md:col-6 lg:col-6">
        <mat-form-field appearance="outline">
          <mat-label>N° de Celular</mat-label>
          <input matInput formControlName="celular" type="text" #input2
          maxlength="10" />
          <mat-hint *ngIf="isValidField('celular')">{{
            getFieldError("celular")
          }}</mat-hint>
          <mat-hint class="hint" align="end"
          >{{ input2.value.length }}/10</mat-hint
        >
          <mat-icon matSuffix>smartphone</mat-icon>
        </mat-form-field>
      </div>

      <div class="col-12 md:col-6 lg:col-6">
        <mat-form-field appearance="outline">
          <mat-label>N° de Teléfono</mat-label>
          <input matInput formControlName="telefono" placeholder="Ex. 9999999-999"/>
          <mat-icon matSuffix>phone</mat-icon>
        </mat-form-field>
      </div>

      <div class="col-12 md:col-6 lg:col-6">
        <mat-form-field appearance="outline">
          <mat-label>Grupo Ocupacional</mat-label>
          <input matInput formControlName="g_Ocupacional" placeholder="Ex. SP1"/>
          <mat-hint *ngIf="isValidField('g_Ocupacional')">{{
            getFieldError("g_Ocupacional")
          }}</mat-hint>
          <mat-icon matSuffix>people_alt</mat-icon>
        </mat-form-field>
      </div>

      <div class="col-12 md:col-6 lg:col-6">
        <mat-form-field appearance="outline">
          <mat-label>Tipo Contrato</mat-label>
          <input matInput formControlName="m_contrato" placeholder="Ex. Contrato Provicional"/>
          <mat-hint *ngIf="isValidField('m_contrato')">{{
            getFieldError("m_contrato")
          }}</mat-hint>
          <mat-icon matSuffix>airline_seat_recline_normal</mat-icon>
        </mat-form-field>
      </div>

      <div class="col-12">
        <mat-form-field appearance="outline">
          <mat-label>Fecha de Ingreso al MSP</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            formControlName="f_ingreso"
            [max]="maxDate"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-hint *ngIf="isValidField('f_ingreso')">{{
            getFieldError("f_ingreso")
          }}</mat-hint>
        </mat-form-field>
      </div>

      <div class="col-12 md:col-12 lg:col-6">
        <mat-form-field appearance="outline">
          <mat-label>Correo institucional</mat-label>
          <input
            matInput
            formControlName="correo_institucional"
            placeholder="Ex. cz3s@ejemplo.com"
          />
          <mat-hint *ngIf="isValidField('correo_institucional')">{{
            getFieldError("correo_institucional")
          }}</mat-hint>
          <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>
      </div>

      <div class="col-12 md:col-12 lg:col-6">
        <mat-form-field appearance="outline">
          <mat-label>Correo Personal</mat-label>
          <input matInput formControlName="correo_personal" />
          <mat-hint *ngIf="isValidField('correo_personal')">{{
            getFieldError("correo_personal")
          }}</mat-hint>
          <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>
      </div>

      <div class="col-12 md:col-12 lg:col-12">
        <mat-form-field appearance="outline">
          <mat-label>Cambio Administrativo</mat-label>
          <input matInput formControlName="c_Administrativo" />
          <mat-icon matSuffix>assignment_turned_in</mat-icon>
        </mat-form-field>
      </div>

      <div class="col-12 md:col-12 lg:col-12">
        <mat-form-field appearance="outline">
          <mat-label>Funciones Adicionales</mat-label>
          <textarea matInput formControlName="funciones_A"></textarea>
          <mat-icon matSuffix>event_seat</mat-icon>
        </mat-form-field>
      </div>

      <div class="col-12 md:col-6 lg:col-6">
        <mat-form-field appearance="outline">
          <mat-label>Estado</mat-label>
          <mat-select formControlName="estado">
            <mat-option *ngFor="let opcion of opcionesEstado | order: 'etiqueta'" [value]="opcion.valor">
              {{ opcion.etiqueta }}
            </mat-option>
          </mat-select>
          <mat-hint *ngIf="isValidField('estado')">{{ getFieldError("estado") }}</mat-hint>
          <mat-icon matSuffix>highlight_off</mat-icon>
        </mat-form-field>
      </div>

      <div class="col-12 md:col-6 lg:col-6">
        <mat-form-field appearance="outline">
          <mat-label>Rol de Usuario</mat-label>
          <mat-select formControlName="rol">
            <mat-option value="SOPORTE">SOPORTE</mat-option>
            <mat-option value="ADMINISTRADOR">ADMINISTRADOR</mat-option>
          </mat-select>
          <mat-hint *ngIf="isValidField('rol')">{{
            getFieldError("rol")
          }}</mat-hint>
          <mat-icon matSuffix>supervisor_account</mat-icon>
        </mat-form-field>
      </div>
  </form>
</div>
<div mat-dialog-actions align="end">
  <button mat-fab extended mat-dialog-close color="warn"><mat-icon>cancel</mat-icon> <strong>Cancelar</strong></button>
  <button
    mat-fab extended
    color="primary"
    [disabled]="formUser.invalid"
    (click)="addUser()"
  >
  <mat-icon>add_circle</mat-icon>
  <strong>Guardar</strong>
  </button>
</div>
