<div mat-dialog-content>
  <div class="login100-form-title p-t-10">
    {{ tituloAccion }} Usuario
  </div>
  <mat-divider></mat-divider>
  <form [formGroup]="formUser" autocomplete="off">
    <div class="grid">
      <div class="col-12 md:col-12 lg:col-4">
        <mat-form-field appearance="outline">
          <mat-label>N° de Cédula</mat-label>
          <input
            matInput
            formControlName="usuario"
            type="text"
            #input
            maxlength="10"
          />
          <mat-hint *ngIf="isValidField('usuario')">{{
            getFieldError("usuario")
          }}</mat-hint>
          <mat-hint class="hint" align="end"
            >{{ input.value.length }}/10</mat-hint
          >
          <mat-icon matSuffix>credit_card</mat-icon>
        </mat-form-field>
      </div>

      <div class="col-12 md:col-12 lg:col-8">
        <mat-form-field appearance="outline">
          <mat-label>Nombre Completo</mat-label>
          <input matInput formControlName="nombre" />
          <mat-hint *ngIf="isValidField('nombre')">{{
            getFieldError("nombre")
          }}</mat-hint>
          <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>
      </div>

      <div class="col-12 md:col-12 lg:col-5">
        <mat-form-field appearance="outline">
          <mat-label>Fecha de Nacimiento</mat-label>
          <input
            matInput
            [matDatepicker]="pickerNacimiento"
            formControlName="fecha_nacimiento"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="pickerNacimiento"
          ></mat-datepicker-toggle>
          <mat-datepicker #pickerNacimiento></mat-datepicker>
          <mat-hint *ngIf="isValidField('fecha_nacimiento')">{{
            getFieldError("fecha_nacimiento")
          }}</mat-hint>
        </mat-form-field>
      </div>

      <div class="col-12 md:col-8 lg:col-4">
        <mat-form-field appearance="outline">
          <mat-label>Etnia</mat-label>
          <mat-select formControlName="etnia">
            <mat-option value="AFROECUATORIANO">AFROECUATORIANO</mat-option>
            <mat-option value="BLANCO">BLANCO</mat-option>
            <mat-option value="INDIGENA">INDIGENA</mat-option>
            <mat-option value="MESTIZO">MESTIZO</mat-option>
            <mat-option value="MONTUBIO">MONTUBIO</mat-option>
            <mat-option value="OTROS">OTROS</mat-option>
          </mat-select>
          <mat-hint *ngIf="isValidField('etnia')">{{
            getFieldError("etnia")
          }}</mat-hint>
          <mat-icon matSuffix>people_alt</mat-icon>
        </mat-form-field>
      </div>

      <div class="col-12 md:col-4 lg:col-3">
        <mat-form-field appearance="outline">
          <mat-label>Sexo</mat-label>
          <mat-select formControlName="sexo">
            <mat-option value="MASCULINO">M</mat-option>
            <mat-option value="FEMENINO">F</mat-option>
          </mat-select>
          <mat-hint *ngIf="isValidField('sexo')">{{
            getFieldError("sexo")
          }}</mat-hint>
          <mat-icon matSuffix>wc</mat-icon>
        </mat-form-field>
      </div>

      <div class="col-12 md:col-12 lg:col-4">
        <mat-form-field appearance="outline">
          <mat-label>N° de Celular</mat-label>
          <input matInput formControlName="telefono" type="number" />
          <mat-hint *ngIf="isValidField('telefono')">{{
            getFieldError("telefono")
          }}</mat-hint>
          <mat-icon matSuffix>phone</mat-icon>
        </mat-form-field>
      </div>

      <div class="col-12 md:col-12 lg:col-8">
        <mat-form-field appearance="outline">
          <mat-label>Direccion</mat-label>
          <input matInput formControlName="direccion" />
          <mat-hint *ngIf="isValidField('direccion')">{{
            getFieldError("direccion")
          }}</mat-hint>
          <mat-icon matSuffix>location_on</mat-icon>
        </mat-form-field>
      </div>

      <div class="col-12 md:col-12 lg:col-6">
        <mat-form-field appearance="outline">
          <mat-label>Nivel de Instrucción</mat-label>
          <mat-select formControlName="nivel_institucional">
            <mat-option value="SECUNDARIA">SECUNDARIA</mat-option>
            <mat-option value="BACHILLERATO">BACHILLERATO</mat-option>
            <mat-option value="TECNOLÓGICO">TECNOLÓGICO</mat-option>
            <mat-option value="TERCER NIVEL">TERCER NIVEL</mat-option>
            <mat-option value="CUARTO NIVEL">CUARTO NIVEL</mat-option>
          </mat-select>
          <mat-hint *ngIf="isValidField('nivel_institucional')">{{
            getFieldError("nivel_institucional")
          }}</mat-hint>
          <mat-icon matSuffix>domain</mat-icon>
        </mat-form-field>
      </div>

      <div class="col-12 md:col-12 lg:col-6">
        <mat-form-field appearance="outline">
          <mat-label>Profesion</mat-label>
          <input matInput formControlName="profesion" />
          <mat-hint *ngIf="isValidField('profesion')">{{
            getFieldError("profesion")
          }}</mat-hint>
          <mat-icon matSuffix>work</mat-icon>
        </mat-form-field>
      </div>

      <div class="col-12 md:col-12 lg:col-6">
        <mat-form-field appearance="outline">
          <mat-label>Correo institucional</mat-label>
          <input
            matInput
            formControlName="correo_institucional"
            placeholder="Ex. cz3s@ejemplo.com"
          />
          <mat-hint *ngIf="isValidField('correo_institucional')">{{
            getFieldError("correo_institucional")
          }}</mat-hint>
          <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>
      </div>

      <div class="col-12 md:col-12 lg:col-6">
        <mat-form-field appearance="outline">
          <mat-label>Correo Personal</mat-label>
          <input matInput formControlName="correo_personal" />
          <mat-hint *ngIf="isValidField('correo_personal')">{{
            getFieldError("correo_personal")
          }}</mat-hint>
          <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>
      </div>

      <div class="col-12 md:col-12 lg:col-6">
        <mat-form-field appearance="outline">
          <mat-label>Regimen Laboral</mat-label>
          <mat-select formControlName="regimen_laboral">
            <mat-option value="SERVICIO CIVIL PUBLICO (LOSEP)"
              >SERVICIO CIVIL PUBLICO (LOSEP)</mat-option
            >
            <mat-option value="CÓDIGO DEL TRABAJO"
              >CÓDIGO DEL TRABAJO</mat-option
            >
          </mat-select>
          <mat-hint *ngIf="isValidField('regimen_laboral')">{{
            getFieldError("regimen_laboral")
          }}</mat-hint>
          <mat-icon matSuffix>business_center</mat-icon>
        </mat-form-field>
      </div>

      <div class="col-12 md:col-12 lg:col-6">
        <mat-form-field appearance="outline">
          <mat-label>Modalidad Laboral</mat-label>
          <mat-select formControlName="modalidad_laboral">
            <mat-option value="CONTRATO INDEFINIDO"
              >CONTRATO INDEFINIDO</mat-option
            >
            <mat-option value="CONTRATO COLECTIVO"
              >CONTRATO COLECTIVO</mat-option
            >
            <mat-option value="CONTRATO OCACIONALES"
              >CONTRATO OCACIONALES</mat-option
            >
            <mat-option value="CONTRATO SERVICIO SOCIAL SALUD"
              >CONTRATO SERVICIO SOCIAL SALUD</mat-option
            >
            <mat-option value="DEVENGANTES DE BECAS LOSEP"
              >DEVENGANTES DE BECAS LOSEP</mat-option
            >
            <mat-option value="NOMBRAMIENTO">NOMBRAMIENTO</mat-option>
          </mat-select>
          <mat-hint *ngIf="isValidField('modalidad_laboral')">{{
            getFieldError("modalidad_laboral")
          }}</mat-hint>
          <mat-icon matSuffix>airline_seat_recline_normal</mat-icon>
        </mat-form-field>
      </div>

      <div class="col-12 md:col-12 lg:col-6">
        <mat-form-field appearance="outline">
          <mat-label>Tipo de Nombramiento</mat-label>
          <mat-select formControlName="nombramiento">
            <mat-option value="DEFINITIVO">DEFINITIVO</mat-option>
            <mat-option value="PROVICIONAL">PROVICIONAL</mat-option>
          </mat-select>
          <mat-hint *ngIf="isValidField('nombramiento')">{{
            getFieldError("nombramiento")
          }}</mat-hint>
          <mat-icon matSuffix>assignment_turned_in</mat-icon>
        </mat-form-field>
      </div>

      <div class="col-12 md:col-12 lg:col-6">
        <mat-form-field appearance="outline">
          <mat-label>Área Laboral</mat-label>
          <input matInput formControlName="area_laboral" />
          <mat-hint *ngIf="isValidField('area_laboral')">{{
            getFieldError("area_laboral")
          }}</mat-hint>
          <mat-icon matSuffix>event_seat</mat-icon>
        </mat-form-field>
      </div>

      <div class="col-12 md:col-12 lg:col-5">
        <mat-form-field appearance="outline">
          <mat-label>Fecha de Ingreso</mat-label>
          <input
            matInput
            [matDatepicker]="pickerIngreso"
            formControlName="fecha_ingreso"
          >
          <mat-datepicker-toggle
            matSuffix
            [for]="pickerIngreso"
          ></mat-datepicker-toggle>
          <mat-datepicker #pickerIngreso></mat-datepicker>
          <mat-hint *ngIf="isValidField('fecha_ingreso')">{{
            getFieldError("fecha_ingreso")
          }}</mat-hint>
        </mat-form-field>
      </div>

      <div class="col-12 md:col-12 lg:col-7">
        <mat-form-field appearance="outline">
          <mat-label>Itinerancia</mat-label>
          <input matInput formControlName="itinerancia" />
          <mat-hint *ngIf="isValidField('itinerancia')">{{
            getFieldError("itinerancia")
          }}</mat-hint>
          <mat-icon matSuffix>data_usage</mat-icon>
        </mat-form-field>
      </div>

      <div class="col-12">
        <mat-form-field appearance="outline">
          <mat-label>Establecimiento</mat-label>
          <mat-select formControlName="estableishment">
            <mat-option
              *ngFor="let item of listaEstableishment"
              [value]="item.id"
            >
              <hr />
              {{ item.nombre }}
            </mat-option>
          </mat-select>
          <mat-hint *ngIf="isValidField('estableishment')">{{
            getFieldError("estableishment")
          }}</mat-hint>
          <mat-icon matSuffix>business</mat-icon>
        </mat-form-field>
      </div>
    </div>
  </form>
</div>
<div mat-dialog-actions align="end">
  <button mat-fab extended mat-dialog-close color="warn"><mat-icon>cancel</mat-icon> <strong>Cancelar</strong></button>
  <button
    mat-fab extended
    color="primary"
    [disabled]="formUser.invalid"
    (click)="addUser()"
  >
  <mat-icon>{{ iconAccion }}</mat-icon>
  <strong>{{ botonAccion }}</strong>
  </button>
</div>
