<div mat-dialog-content>
  <div class="login100-form-title p-t-10">{{ tituloAccion }} EOD</div>
  <mat-divider></mat-divider>
  <form [formGroup]="formDistrict">
    <div class="grid">
      <div class="col-12 md:col-4 lg:col-4">
        <mat-form-field appearance="outline">
          <mat-label>Código</mat-label>
          <input matInput formControlName="codigo" autocomplete="off" />
          <mat-hint *ngIf="isValidField('codigo')">{{
            getFieldError("codigo")
          }}</mat-hint>
          <mat-icon matSuffix>bookmark</mat-icon>
        </mat-form-field>
      </div>

<div class="col-12 md:col-8 lg:col-8">
        <mat-form-field appearance="outline">
          <mat-label>Provincia</mat-label>
          <mat-select formControlName="provincia">
            <mat-option value="CHIMBORAZO">CHIMBORAZO</mat-option>
            <mat-option value="COTOPAXI">COTOPAXI</mat-option>
            <mat-option value="PASTAZA">PASTAZA</mat-option>
            <mat-option value="TUNGURAHUA">TUNGURAHUA</mat-option>
          </mat-select>
          <mat-hint *ngIf="isValidField('provincia')">{{
            getFieldError("provincia")
          }}</mat-hint>
          <mat-icon matSuffix>place</mat-icon>
        </mat-form-field>
      </div>

      <div class="col-12">
        <mat-form-field appearance="outline">
          <mat-label>Nombre de EOD</mat-label>
          <textarea matInput formControlName="nombre" autocomplete="off" ></textarea>
          <mat-hint *ngIf="isValidField('nombre')">{{
            getFieldError("nombre")
          }}</mat-hint>
          <mat-icon matSuffix>map</mat-icon>
        </mat-form-field>
      </div>

    </div>
  </form>
</div>
<div mat-dialog-actions align="end">
  <button mat-fab extended mat-dialog-close color="warn"><mat-icon>cancel</mat-icon> <strong>Cancelar</strong></button>
  <button
    mat-fab extended
    color="primary"
    [disabled]="formDistrict.invalid"
    (click)="addDistrict()"
    type="submit"
  >
  <mat-icon>{{ iconAccion }}</mat-icon>
  <strong>{{ botonAccion }}</strong>
  </button>
</div>
