<div mat-dialog-content>
  <div class="login100-form-title p-t-10 ">{{ tituloAccion }} Unidad/Gestión</div>
  <mat-divider></mat-divider>
  <form [formGroup]="formEstableishment">
    <div class="grid">

      <div class="col-12">
        <mat-form-field appearance="outline">
          <mat-label>EOD</mat-label>
          <mat-select formControlName="district" placeholder="Elija un EOD">
            <mat-option *ngFor="let item of listaDistrict | order: 'nombre'" [value]="item.id">
              {{ item.nombre }}
              <hr />
            </mat-option>
          </mat-select>
          <mat-hint *ngIf="isValidField('district')">{{
            getFieldError("district")
          }}</mat-hint>
          <mat-icon matSuffix>map</mat-icon>
        </mat-form-field>
      </div>

      <div class="col-12 md:col-4 lg:col-4">
        <mat-form-field appearance="outline">
          <mat-label>Código</mat-label>
          <input matInput formControlName="codigo" />
          <mat-hint *ngIf="isValidField('codigo')">{{
            getFieldError("codigo")
          }}</mat-hint>
          <mat-icon matSuffix>bookmark</mat-icon>
        </mat-form-field>
      </div>

      <div class="col-12 md:col-8 lg:col-8">
        <mat-form-field appearance="outline">
          <mat-label>Nombre de Unidad/Gestión</mat-label>
          <input matInput formControlName="nombre" />
          <mat-hint *ngIf="isValidField('nombre')">{{
            getFieldError("nombre")
          }}</mat-hint>
          <mat-icon matSuffix>business</mat-icon>
        </mat-form-field>
      </div>

      <div class="col-12 md:col-4 lg:col-4">
        <mat-form-field appearance="outline">
          <mat-label>Estado</mat-label>
          <mat-select formControlName="estado">
            <mat-option *ngFor="let opcion of opcionesEstado | order: 'etiqueta'" [value]="opcion.valor">
              {{ opcion.etiqueta }}
            </mat-option>
          </mat-select>
          <mat-hint *ngIf="isValidField('estado')">{{ getFieldError("estado") }}</mat-hint>
          <mat-icon matSuffix>highlight_off</mat-icon>
        </mat-form-field>
      </div>

    </div>
  </form>
</div>
<div mat-dialog-actions align="end">
  <button mat-fab extended mat-dialog-close color="warn"><mat-icon>cancel</mat-icon> <strong>Cancelar</strong></button>
  <button
    mat-fab extended
    color="primary"
    [disabled]="formEstableishment.invalid"
    (click)="addEstableishment()"
  >
  <mat-icon>{{ iconAccion }}</mat-icon>
  <strong>{{ botonAccion }}</strong>
  </button>
</div>
