<mat-toolbar>
  <span>TABLA DE USUARIOS</span>
</mat-toolbar>
<mat-divider></mat-divider>

<div class="grid">
  <div class="col-12">
    <mat-card>
      <mat-card-content>
        <mat-card-actions align="end">
          <button mat-fab extended color="primary" (click)="userDialog()">
            <mat-icon>add_circle</mat-icon> Nuevo Usuario
          </button>
        </mat-card-actions>

        <app-table
          [data]="usuariosList"
          [columns]="tableColumnsUsuarios"
          [config]="tableConfig"
          (action)="onTableAction($event)"
        >
        </app-table>
      </mat-card-content>
    </mat-card>
  </div>
</div>
