
mat-card{
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

::ng-deep .mat-select-panel {
  max-height: 200px; /* Ajusta la altura máxima según sea necesario */
  overflow-y: auto; /* Agrega la barra de desplazamiento vertical */
}
