
<div class="grid">
  <div class="col-12">
    <mat-card>

      <mat-card-header>
        <mat-toolbar>
          <span>Usuarios</span>
          <span class="spacer"></span>
          <button mat-fab extended color="primary" (click)="userDialog()">
            <mat-icon>person_add</mat-icon> Nuevo Usuario
          </button>
        </mat-toolbar>
      </mat-card-header>

      <mat-card-content>

        <app-table
          *ngIf="usersList.length > 0"
          [data]="usersList"
          [columns]="tableColumnsUsers"
          [config]="tableConfig"
          (action)="onTableAction($event)"
        >
        </app-table>
      </mat-card-content>
    </mat-card>
  </div>
</div>
