<div class="grid">
  <div class="col-12">
    <mat-card>
      <mat-card-header>
        <mat-toolbar>
          <mat-card-title
            ><span
              >{{ tituloAccion }} Ticket {{ codigoTicket }}</span
            ></mat-card-title
          >
        </mat-toolbar>
      </mat-card-header>

      <mat-card-content>
        <mat-divider></mat-divider>

        <form class="grid p-t-20" [formGroup]="formTicket">
          <div class="col-12 md:col-12 lg:col-12" *ngIf="!mostrarInput">
            <mat-form-field appearance="outline">
              <mat-label>Categoría del Problema</mat-label>
              <mat-select formControlName="directive">
                <mat-option
                  *ngFor="let item of listaDirective"
                  [value]="item.id"
                >
                  <hr />
                  {{ item.nombre }}
                </mat-option>
              </mat-select>
              <mat-hint *ngIf="isValidField('directive')">{{ getFieldError("directive") }}</mat-hint>
              <mat-icon matSuffix>event_note</mat-icon>
            </mat-form-field>
          </div>

          <div class="col-12 md:col-12 lg:col-9" *ngIf="mostrarInput">
            <mat-form-field>
              <mat-label>Categoría del Problema</mat-label>
              <mat-select formControlName="directive">
                <mat-option
                  *ngFor="let item of listaDirective"
                  [value]="item.id"
                >
                  <hr />
                  {{ item.nombre }}
                </mat-option>
              </mat-select>
              <mat-hint *ngIf="isValidField('directive')">{{ getFieldError("directive") }}</mat-hint>
              <mat-icon matSuffix>event_note</mat-icon>
            </mat-form-field>
          </div>

          <div class="col-12 md:col-12 lg:col-3" *ngIf="mostrarInput">
            <mat-form-field appearance="outline">
              <mat-label>Estado</mat-label>
              <mat-select formControlName="estado">
                <mat-option value="ABIERTO">ABIERTO</mat-option>
                <mat-option value="CERRADO">CERRADO</mat-option>
              </mat-select>
              <mat-icon matSuffix>check_circle</mat-icon>
            </mat-form-field>
          </div>

          <!-- <div class="col-12 md:col-7 lg:col-7">
                <mat-form-field appearance="outline">
                  <mat-label>Nombre de Usuario</mat-label>
                  <mat-select formControlName="user">
                    <mat-option *ngFor="let item of listaUser" [value]="item.id">
                      <hr />
                      {{ item.nombre }}
                    </mat-option>
                  </mat-select>
                  <mat-icon matSuffix>person</mat-icon>
                </mat-form-field>
              </div> -->


          <div class="col-12 md:col-12 lg:col-12">
            <mat-form-field appearance="outline">
              <mat-label>Problema</mat-label>
              <input matInput formControlName="titulo" autocomplete="off" />
              <mat-hint *ngIf="isValidField('titulo')">{{ getFieldError("titulo") }}</mat-hint>
              <mat-icon matSuffix>layers</mat-icon>
            </mat-form-field>
          </div>
          <div class="col-12 md:col-12 lg:col-5">
            <mat-form-field appearance="outline">
              <mat-label>Área</mat-label>
              <input matInput formControlName="area" autocomplete="off" />
              <mat-hint *ngIf="isValidField('area')">{{ getFieldError("area") }}</mat-hint>
              <mat-icon matSuffix>event_seat</mat-icon>
            </mat-form-field>
          </div>

          <div class="col-12 md:col-4 lg:col-2">
            <mat-form-field appearance="outline">
              <mat-label>N° de Piso</mat-label>
              <input
                matInput
                formControlName="piso"
                autocomplete="off"
                type="number"
              />
              <mat-icon matSuffix>layers</mat-icon>
            </mat-form-field>
          </div>

          <div class="col-12 md:col-4 lg:col-2">
            <mat-form-field appearance="outline">
              <mat-label>N° de Sala</mat-label>
              <input
                matInput
                formControlName="n_sala"
                autocomplete="off"
                type="number"
              />
              <mat-icon matSuffix>layers</mat-icon>
            </mat-form-field>
          </div>

          <div class="col-12 md:col-4 lg:col-3">
            <mat-form-field appearance="outline">
              <mat-label>N° de Consultorio</mat-label>
              <input
                matInput
                formControlName="n_consultorio"
                autocomplete="off"
                type="number"
              />
              <mat-icon matSuffix>layers</mat-icon>
            </mat-form-field>
          </div>
          <div class="col-12">
            <mat-form-field appearance="outline">
              <mat-label>Soporte Asignado</mat-label>
              <mat-select formControlName="soporteUser">
                <mat-option
                  *ngFor="let item of listaSoporte"
                  [value]="item.id"
                >
                  <hr />
                  {{ item.nombre }}
                </mat-option>
              </mat-select>
              <mat-hint *ngIf="isValidField('soporteUser')">{{ getFieldError("soporteUser") }}</mat-hint>
              <mat-icon matSuffix>event_note</mat-icon>
            </mat-form-field>
          </div>

          <div class="col-12">
            <span style="padding-left: 20px;">Descripcion del Problema</span>
            <mat-divider></mat-divider>
            <quill-editor formControlName="descripcion"></quill-editor>
          </div>

          <div class="col-12 md:col-12 lg:col-4" *ngIf="!ticketNuevo">
            <input
              type="file"
              style="display: none"
              #fileInput
              (change)="handleFileInput($event)"
            />
            <button mat-fab extended color="accent" (click)="fileInput.click()">
              <mat-icon>upload</mat-icon>
              <strong>Cargar Archivo</strong>
            </button>
          </div>

          <div class="col-12 md:col-12 lg:col-4">
            <span *ngIf="selectedFileName !== null">{{ selectedFileName }}</span>
          </div>
          <div class="col-12 md:col-12 lg:col-12" *ngIf="!ticketNuevo"></div>
          <div class="col-12 md:col-12 lg:col-12" *ngIf="ticketNuevo">
            <span style="padding-left: 20px;">Archivo Adjunto:</span>
            <mat-divider></mat-divider>
            <div class="file-container">
              <ng-container *ngFor="let file of archivos">
                <div class="file-item">
                  <ng-container *ngIf="isImage(file.archivo)">
                    <img
                      [src]="file.archivo"
                      alt="Imagen"
                      width="200"
                      (click)="openImageDialog(file.archivo)"
                    />
                  </ng-container>
                  <ng-container *ngIf="!isImage(file.archivo)">
                    <a [href]="file.archivo" target="_blank">{{
                      file.archivo
                    }}</a>
                  </ng-container>
                </div>
              </ng-container>
            </div>
          </div>

          <div class="col-12 md:col-3 lg:col-3">
            <button
              mat-fab
              extended
              color="warn"
              routerLink="/dashboard/tickets"
            >
              <mat-icon>arrow_back</mat-icon> <strong>Volver</strong>
            </button>
          </div>
          <div class="col-6"></div>
          <div class="col-12 md:col-3 lg:col-3">
            <button
              mat-fab
              extended
              color="primary"
              [disabled]="formTicket.invalid"
              (click)="guardarTicket()"
            >
              <mat-icon>{{ iconAccion }}</mat-icon>
              <strong>{{ botonAccion }}</strong>
            </button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
