<div class="wrap-login100">
  <img
    [src]="'assets/images/mesa_ayuda.jpg'"
    alt="mesa_ayuda"
    style="object-fit: cover; width: 100%; height: 100%"
  />

  <form
    class="login100-form p-l-55 p-r-55 p-b-20"
    [formGroup]="formLogin"
  >
    <span class="login100-form-title p-t-20 p-b-20"> Inicio de Sesión </span>

    <div class="grid">
      <div class="col-12">
        <mat-form-field appearance="outline">
          <mat-label><strong>Usuario</strong></mat-label>
          <input
            matInput
            type="text"
            formControlName="username"
            placeholder="0600000000/1800000000"
            #input
            maxlength="10"
            autocomplete="username"
          />
          <mat-hint *ngIf="isValidField('username')">{{
            getFieldError("username")
          }}</mat-hint>
          <mat-hint class="hint" align="end"
            >{{ input.value.length }}/10</mat-hint
          >
          <mat-icon matSuffix>account_circle</mat-icon>
        </mat-form-field>
      </div>
      <div class="col-12">
        <mat-form-field appearance="outline">
          <mat-label><strong>Contraseña</strong></mat-label>
          <input
            matInput
            [type]="hide ? 'password' : 'text'"
            formControlName="password"
            placeholder="Ingrese su contraseña"
            autocomplete="current-password"
          />
          <mat-hint *ngIf="isValidField('password')">{{
            getFieldError("password")
          }}</mat-hint>
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <button
        mat-fab
        extended
        color="primary"
        class="col-12"
        [disabled]="formLogin.invalid"
        (click)="login()"
      >
        <mat-icon>input</mat-icon>
        <strong>INGRESAR</strong>
      </button>

      <div class="flex-col-c col-12 p-t-30">
        <span class="txt1 p-b-10">¿No tienes una cuenta?</span>
        <button mat-fab extended color="accent" (click)="register()">
          <mat-icon>assignment</mat-icon>
          <strong>CREAR UNA CUENTA</strong>
        </button>
      </div>
    </div>
  </form>
</div>
