.example-card {
  max-width: 400px;
}

mat-card{
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}

mat-form-field{
  width: 100%;
}

button {
  width: 100%;
}

.mat-mdc-card-header {
  background-color: #D7EEFC;
  padding: 20px 0px;
  border-radius: 15px 15px 0 0;
}


.mat-mdc-card-content {
  display: block;
  padding: 20px 40px 20px 40px;
}

mat-hint{
  color: red;
}

.hint{
  color: black;
}
