<div mat-dialog-content>
  <div class="login100-form-title p-t-10">{{ tituloAccion }} Directiva</div>
  <mat-divider></mat-divider>
  <form [formGroup]="formDirective">
    <div class="grid">
      <div class="col-12 md:col-8 lg:col-8">
        <mat-form-field appearance="outline">
          <mat-label>Nombre de directiva</mat-label>
          <textarea matInput formControlName="nombre" autocomplete="off" ></textarea>
          <mat-icon matSuffix>event_note</mat-icon>
        </mat-form-field>
      </div>

      <div class="col-12 md:col-4 lg:col-4">
        <mat-form-field appearance="outline">
          <mat-label>Tiempo estimado</mat-label>
          <input matInput formControlName="rango_tiempo" autocomplete="off" />
          <mat-icon matSuffix>access_time</mat-icon>
        </mat-form-field>
      </div>

      <div class="col-12">
        <mat-form-field appearance="outline">
          <mat-label>Descripcion del Problema</mat-label>
          <textarea matInput formControlName="descripcion" autocomplete="off" ></textarea>
          <mat-icon matSuffix>subject</mat-icon>
        </mat-form-field>
      </div>
    </div>
  </form>
</div>
<div mat-dialog-actions align="end">
  <button mat-fab extended mat-dialog-close color="warn"><mat-icon>cancel</mat-icon> <strong>Cancelar</strong></button>
  <button
    mat-fab extended
    color="primary"
    [disabled]="formDirective.invalid"
    (click)="addDirective()"
  >
  <mat-icon>{{ iconAccion }}</mat-icon>
  <strong>{{ botonAccion }}</strong>
  </button>
</div>
