<!-- BUSCADOR / FILTRO -->
  <mat-form-field appearance="outline" class="col-12" *ngIf="tableConfig?.showFilter">
    <mat-label> <h5>Buscar o filtrar</h5></mat-label>
    <div class="label-input100">
      <input matInput (keyup)="applyFilter($event)" #input />
    </div>
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>

<!-- TABLA  -->
<table mat-table #table [dataSource]="dataSource" matSort>
  <ng-container
    *ngFor="let column of tableColumns"
    [matColumnDef]="column.def"
    [sticky]="column.isSticky"
    [stickyEnd]="column.isStikyEnd"
  >
    <th mat-header-cell *matHeaderCellDef [mat-sort-header]="column.dataKey">{{ column.label }}</th>
    <td mat-cell *matCellDef="let row">
      {{ row | columValue: column }}
    </td>
  </ng-container>

  <!-- ACCIONES  -->
  <ng-container matColumnDef="actions" stickyEnd="true">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let row">
      <div class="button-row">
        <button
          mat-mini-fab
          color="primary"
          (click)="onEdit(row)"
        >
          <mat-icon>edit</mat-icon>
        </button>
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="actions2">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let row">
      <div class="button-row">
        <button
          mat-mini-fab
          color="accent"
          (click)="onSarvey(row)"
        >
          <mat-icon>poll</mat-icon>
        </button>
      </div>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="tableDisplayColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: tableDisplayColumns"></tr>

  <!-- Cuando no encuentre ningun dato relacionado a la busqueda. -->
  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" [colSpan]="tableDisplayColumns.length">
      No hay datos que coincidan con la palabra: "{{ currentFilterValue }}"
    </td>
  </tr>
</table>

<mat-divider></mat-divider>
  <!-- PAGINADOR -->

<ng-container *ngIf="tableConfig?.isPaginable">
  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    aria-label="Select page of periodic elements"
  >
  </mat-paginator>
</ng-container>

<!-- DESCARGA --->
<ng-container *ngIf="tableConfig?.showDowload">
  <button class="col-4" mat-fab extended color="primary"
  (click)="exportToCsv(dataSource.data, 'tabla_datos.csv')"
  >
  <mat-icon>get_app</mat-icon>
  Descargar CSV
  </button>
</ng-container>
