mat-toolbar {
  border-radius: 15px;
  background-color: #dcdfe1;
}
span{
  font-family: Poppins-Bold;
}

mat-divider{
  margin-top: 10px;
  margin-bottom: 10px;
}

mat-card{
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

h5 {
  font-family: Poppins-Regular;
  font-size: 15px;
}


mat-form-field{
  width: 100%;
}

mat-label {
  font-family: Poppins-SemiBold;
  font-size: 16px;
}

button{
  width: 100%;
}
.hint{
  color: black;
}
