<mat-toolbar>
  <span>AJUSTES</span>
</mat-toolbar>
<mat-divider></mat-divider>
<div class="grid">
  <div class="col-12 md:col-12 lg:col-7">
    <mat-card>
      <mat-card-header>
        <mat-toolbar>
          <mat-card-title> <span>Perfil de Usuario</span> </mat-card-title>
        </mat-toolbar>
      </mat-card-header>
      <mat-card-content>
        <mat-divider></mat-divider>
        <h5>Gestiona tu perfil e información privada</h5>
        <mat-divider></mat-divider>
        <form class="grid p-t-20" [formGroup]="formSettingsUser" autocomplete="off">
          <div class="col-12 md:col-12 lg:col-4">
            <mat-form-field appearance="outline">
              <mat-label>N° de Cedula</mat-label>
              <input
                matInput
                formControlName="usuario"
                type="text"
                #input
                maxlength="10"
              />
              <mat-hint class="hint" align="end"
                >{{ input.value.length }}/10</mat-hint
              >
              <mat-icon matSuffix>credit_card</mat-icon>
            </mat-form-field>
          </div>

          <div class="col-12 md:col-12 lg:col-8">
            <mat-form-field appearance="outline">
              <mat-label>Nombre Completo</mat-label>
              <input matInput formControlName="nombre" />
              <mat-icon matSuffix>person</mat-icon>
            </mat-form-field>
          </div>

          <div class="col-12 md:col-12 lg:col-5">
            <mat-form-field appearance="outline">
              <mat-label>Fecha de Nacimiento</mat-label>
              <input
                matInput
                [matDatepicker]="pickerNacimiento"
                formControlName="fecha_nacimiento"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="pickerNacimiento"
              ></mat-datepicker-toggle>
              <mat-datepicker #pickerNacimiento></mat-datepicker>
            </mat-form-field>
          </div>

          <div class="col-12 md:col-12 lg:col-4">
            <mat-form-field appearance="outline">
              <mat-label>Etnia</mat-label>
              <mat-select formControlName="etnia">
                <mat-option value="AFROECUATORIANO">AFROECUATORIANO</mat-option>
                <mat-option value="BLANCO">BLANCO</mat-option>
                <mat-option value="INDIGENA">INDIGENA</mat-option>
                <mat-option value="MESTIZO">MESTIZO</mat-option>
                <mat-option value="MONTUBIO">MONTUBIO</mat-option>
                <mat-option value="OTROS">OTROS</mat-option>
              </mat-select>

              <mat-icon matSuffix>people_alt</mat-icon>
            </mat-form-field>
          </div>

          <div class="col-12 md:col-12 lg:col-3">
            <mat-form-field appearance="outline">
              <mat-label>Sexo</mat-label>
              <mat-select formControlName="sexo">
                <mat-option value="MASCULINO">M</mat-option>
                <mat-option value="FEMENINO">F</mat-option>
              </mat-select>
              <mat-icon matSuffix>wc</mat-icon>
            </mat-form-field>
          </div>

          <div class="col-12 md:col-12 lg:col-4">
            <mat-form-field appearance="outline">
              <mat-label>N° de Celular</mat-label>
              <input matInput formControlName="telefono" type="number" />
              <mat-icon matSuffix>phone</mat-icon>
            </mat-form-field>
          </div>

          <div class="col-12 md:col-12 lg:col-8">
            <mat-form-field appearance="outline">
              <mat-label>Direccion</mat-label>
              <input matInput formControlName="direccion" />
              <mat-icon matSuffix>location_on</mat-icon>
            </mat-form-field>
          </div>

          <div class="col-12 md:col-12 lg:col-4">
            <mat-form-field appearance="outline">
              <mat-label>Nivel de Instrucción</mat-label>
              <mat-select formControlName="nivel_institucional">
                <mat-option value="SECUNDARIA">SECUNDARIA</mat-option>
                <mat-option value="BACHILLERATO">BACHILLERATO</mat-option>
                <mat-option value="TECNOLÓGICO">TECNOLÓGICO</mat-option>
                <mat-option value="TERCER NIVEL">TERCER NIVEL</mat-option>
                <mat-option value="CUARTO NIVEL">CUARTO NIVEL</mat-option>
              </mat-select>
              <mat-icon matSuffix>domain</mat-icon>
            </mat-form-field>
          </div>

          <div class="col-12 md:col-12 lg:col-8">
            <mat-form-field appearance="outline">
              <mat-label>Profesion</mat-label>
              <input matInput formControlName="profesion" />
              <mat-icon matSuffix>work</mat-icon>
            </mat-form-field>
          </div>

          <div class="col-12 md:col-12 lg:col-6">
            <mat-form-field appearance="outline">
              <mat-label>Correo institucional</mat-label>
              <input
                matInput
                formControlName="correo_institucional"
                placeholder="Ex. cz3s@ejemplo.com"
              />
              <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
          </div>

          <div class="col-12 md:col-12 lg:col-6">
            <mat-form-field appearance="outline">
              <mat-label>Correo Personal</mat-label>
              <input matInput formControlName="correo_personal" />
              <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
          </div>

          <div class="col-12 md:col-12 lg:col-6">
            <mat-form-field appearance="outline">
              <mat-label>Regimen Laboral</mat-label>
              <mat-select formControlName="regimen_laboral">
                <mat-option value="SERVICIO CIVIL PUBLICO (LOSEP)"
                  >SERVICIO CIVIL PUBLICO (LOSEP)</mat-option
                >
                <mat-option value="CÓDIGO DEL TRABAJO"
                  >CÓDIGO DEL TRABAJO</mat-option
                >
              </mat-select>
              <mat-icon matSuffix>business_center</mat-icon>
            </mat-form-field>
          </div>

          <div class="col-12 md:col-12 lg:col-6">
            <mat-form-field appearance="outline">
              <mat-label>Modalidad Laboral</mat-label>
              <mat-select formControlName="modalidad_laboral">
                <mat-option value="CONTRATO INDEFINIDO"
                  >CONTRATO INDEFINIDO</mat-option
                >
                <mat-option value="CONTRATO COLECTIVO"
                  >CONTRATO COLECTIVO</mat-option
                >
                <mat-option value="CONTRATO OCACIONALES"
                  >CONTRATO OCACIONALES</mat-option
                >
                <mat-option value="CONTRATO SERVICIO SOCIAL SALUD"
                  >CONTRATO SERVICIO SOCIAL SALUD</mat-option
                >
                <mat-option value="DEVENGANTES DE BECAS LOSEP"
                  >DEVENGANTES DE BECAS LOSEP</mat-option
                >
                <mat-option value="NOMBRAMIENTO">NOMBRAMIENTO</mat-option>
              </mat-select>
              <mat-icon matSuffix>airline_seat_recline_normal</mat-icon>
            </mat-form-field>
          </div>

          <div class="col-12 md:col-12 lg:col-5">
            <mat-form-field appearance="outline">
              <mat-label>Tipo de Nombramiento</mat-label>
              <mat-select formControlName="nombramiento">
                <mat-option value="DEFINITIVO">DEFINITIVO</mat-option>
                <mat-option value="PROVICIONAL">PROVICIONAL</mat-option>
              </mat-select>
              <mat-icon matSuffix>assignment_turned_in</mat-icon>
            </mat-form-field>
          </div>

          <div class="col-12 md:col-12 lg:col-7">
            <mat-form-field appearance="outline">
              <mat-label>Área Laboral</mat-label>
              <input matInput formControlName="area_laboral" />
              <mat-icon matSuffix>event_seat</mat-icon>
            </mat-form-field>
          </div>

          <div class="col-12 md:col-12 lg:col-5">
            <mat-form-field appearance="outline">
              <mat-label>Fecha de Ingreso</mat-label>
              <input
                matInput
                [matDatepicker]="pickerIngreso"
                formControlName="fecha_ingreso"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="pickerIngreso"
              ></mat-datepicker-toggle>
              <mat-datepicker #pickerIngreso></mat-datepicker>
            </mat-form-field>
          </div>

          <div class="col-12 md:col-12 lg:col-7">
            <mat-form-field appearance="outline">
              <mat-label>Itinerancia</mat-label>
              <input matInput formControlName="itinerancia" />
              <mat-icon matSuffix>data_usage</mat-icon>
            </mat-form-field>
          </div>

          <div class="col-12">
            <mat-form-field appearance="outline">
              <mat-label>Establecimiento</mat-label>
              <mat-select formControlName="estableishment">
                <mat-option
                  *ngFor="let item of listaEstableishment"
                  [value]="item.id"
                >
                  <hr />
                  {{ item.nombre }}
                </mat-option>
              </mat-select>
              <mat-icon matSuffix>business</mat-icon>
            </mat-form-field>
          </div>
          <div class="col-12 md:col-6 lg:col-6"></div>
          <div class="col-12 md:col-6 lg:col-6">
            <button mat-fab extended color="primary" (click)="UpdateUser()">
              <mat-icon>edit</mat-icon>
              <strong>Actualizar Datos</strong>
            </button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-12 md:col-12 lg:col-5">
    <mat-card>
      <mat-card-header>
        <mat-toolbar>
          <mat-card-title> <span>Seguridad</span> </mat-card-title>
        </mat-toolbar>
      </mat-card-header>
      <mat-card-content>
        <mat-divider></mat-divider>
        <h5>Administre su contraseña</h5>
        <mat-divider></mat-divider>
        <form class="grid p-t-20" [formGroup]="formUpdatePassword">
          <div class="col-12">
            <mat-form-field appearance="outline">
              <mat-label>Contraseña Actual</mat-label>
              <input
                autocomplete="new-password"
                matInput
                [type]="hide ? 'password' : 'text'"
                formControlName="contrasenia"
                placeholder="Ingrese su actual contraseña"
              />
              <mat-hint *ngIf="isValidField('contrasenia')">{{
                getFieldError("contrasenia")
              }}</mat-hint>
              <button
                mat-icon-button
                matSuffix
                (click)="hide = !hide"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide"
              >
                <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
              </button>
            </mat-form-field>
          </div>

          <div class="col-12">
            <mat-form-field appearance="outline">
              <mat-label><strong>Nueva Contraseña</strong> </mat-label>
              <input
                autocomplete="new-password"
                matInput
                [type]="hide2 ? 'password' : 'text'"
                formControlName="newcontrasenia"
                placeholder="Ingrese la nueva contraseña"
              />
              <mat-hint *ngIf="isValidField('newcontrasenia')">{{
                getFieldError("newcontrasenia")
              }}</mat-hint>
              <button
                mat-icon-button
                matSuffix
                (click)="hide2 = !hide2"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide2"
              >
                <mat-icon>{{ hide2 ? "visibility_off" : "visibility" }}</mat-icon>
              </button>
            </mat-form-field>
          </div>

          <div class="col-12">
            <mat-form-field appearance="outline">
              <mat-label><strong>Confirmar Nueva Contraseña</strong> </mat-label>
              <input
                autocomplete="new-password"
                matInput
                [type]="hide3 ? 'password' : 'text'"
                formControlName="newcontrasenia2"
                placeholder="Vuelva a escribir la nueva contraseña"
              />
              <mat-hint *ngIf="isValidField('newcontrasenia2')">{{
                getFieldError("newcontrasenia2")
              }}</mat-hint>
              <button
                mat-icon-button
                matSuffix
                (click)="hide3 = !hide3"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide3"
              >
                <mat-icon>{{ hide3 ? "visibility_off" : "visibility" }}</mat-icon>
              </button>
            </mat-form-field>
          </div>

          <div class="col-12">
            <button mat-fab extended color="primary" [disabled]="formUpdatePassword.invalid" (click)="UpdatePassword()">
              <mat-icon>edit</mat-icon>
              <strong>Cambiar Contraseña</strong>
            </button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>

    <mat-divider></mat-divider>

    <mat-card>
      <mat-card-header>
        <mat-toolbar>
          <mat-card-title> <span>Cambiar Logo</span> </mat-card-title>
        </mat-toolbar>
      </mat-card-header>
      <mat-card-content>
        <mat-divider></mat-divider>
        <button mat-fab extended color="accent" (click)="image()">
          <mat-icon>image</mat-icon>
          Cambiar Imagen
        </button>
      </mat-card-content>
    </mat-card>
  </div>
</div>
