<div class="grid">
  <div class="col-12">
    <mat-card>
      <mat-card-header>
        <mat-toolbar>
          <mat-card-title
            ><span>Ticket: {{ticketSelect.codigo}}</span></mat-card-title
          >
          <span class="spacer"></span>
          <div *ngIf="user()!.rol === 'ADMINISTRADOR'">
            <button mat-fab extended color="primary" (click)="reasignarTicket(ticketSelect.id)" *ngIf="ticketSelect.estado !== 'CERRADO'">
              <mat-icon>assignment_ind</mat-icon> <strong>Reasignar</strong>
            </button>
          </div>
        </mat-toolbar>
      </mat-card-header>
      <mat-card-content class="col-12">
        <mat-divider></mat-divider>

        <div class="grid" style="padding: 10px 0px;">
          <div class="col-12 md:col-6 lg:col-6" style="border-left: 1px solid #DCDFE1; border-top: 2px solid #DCDFE1; border-right: 2px solid #DCDFE1; border-bottom: 1px solid #DCDFE1; border-radius: 20px 0 0 0;">
            <div class="grid" style="padding: 5px 2px;">
              <p class="col-4"><b>N° Cédula</b></p><p class="col-8">{{ ticketSelect.cedula }}</p>
              <p class="col-4"><b>Nombre</b></p><p class="col-8">{{ ticketSelect.nombre }}</p>
              <p class="col-4"><b>Correo</b></p><p class="col-8">{{ ticketSelect.correo_electronico }}</p>
              <p class="col-4"><b>N° Celular</b></p><p class="col-8">{{ ticketSelect.telefono }}</p>
            </div>
          </div>

          <div class="col-12 md:col-6 lg:col-6" style="border-left: 2px solid #DCDFE1; border-right: 1px solid #DCDFE1; border-top: 2px solid #DCDFE1; border-bottom: 1px solid #DCDFE1; border-radius: 0 20px 0 0;">
              <div class="grid" style="padding: 5px 2px;">
                <p class="col-4"><b>N° Ticket</b></p><p class="col-8">{{ ticketSelect.codigo }}</p>
                <p class="col-4"><b>Estado</b></p><p class="col-8">{{ ticketSelect.estado }}</p>
                <p class="col-4"><b>F. Creación</b></p><p class="col-8">{{ ticketSelect.createdAt | dateFormat}}</p>
                <p class="col-4"><b>F. Cierre</b></p><p class="col-8">{{ ticketSelect.cierreAt | dateFormat}}</p>
              </div>
            </div>

            <div class="col-12 md:col-8 lg:col-8" style="border-left: 2px solid #DCDFE1; border-top: 1px solid #DCDFE1;border-right: 1px solid #DCDFE1; border-bottom: 2px solid #DCDFE1; border-radius: 0 0 0 20px;">
              <div class="grid" style="padding: 5px 2px;">
                <p class="col-4"><b>Tema de Ayuda</b></p><p class="col-8">{{ ticketSelect.category.nombre }}</p>
                <p class="col-4"><b>Departamento</b></p><p class="col-8">{{ ticketSelect.subcategory.nombre }}</p>
                <p class="col-4"><b>Pedido</b></p><p class="col-8">{{ ticketSelect.requerimiento }}</p>
                <p class="col-4"><b>Soporte Asignado</b></p><p class="col-8">{{ ticketSelect.soporteAsignado }}</p>
                <p class="col-4"><b>Soporte Reasignado</b></p><p class="col-8">{{ ticketSelect.soporteReasignado }}</p>
              </div>
            </div>

            <div class="col-12 md:col-4 lg:col-4" style="border-left: 1px solid #DCDFE1; border-top: 1px solid #DCDFE1; border-right: 2px solid #DCDFE1; border-bottom: 2px solid #DCDFE1 ; border-radius: 0 0 20px 0 ;">
              <div class="grid" style="padding: 5px 2px;">
                <p class="col-4"><b>Unidad / Gestión</b></p><p class="col-8">{{ ticketSelect.estableishment.nombre }}</p>
                <p class="col-4"><b>Area Operativa</b></p><p class="col-8">{{ ticketSelect.area }}</p>
                <p class="col-4"><b>N° Piso</b></p><p class="col-8">{{ ticketSelect.piso }}</p>
                <p class="col-4"><b>N° Sala</b></p><p class="col-8">{{ ticketSelect.n_sala }}</p>
                <p class="col-4"><b>N° Consultorio</b></p><p class="col-8">{{ ticketSelect.n_consultorio }}</p>
              </div>
            </div>

          </div>

      </mat-card-content>

      <div class="col-12">
        <quill-editor #quillEditor1 [readOnly]="quillEditorReadOnly"></quill-editor>
      </div>

      <div class="col-12" *ngIf="ticketSelect.file">
        <mat-divider></mat-divider>
        <span style="padding-left: 20px">* Archivo Adjunto:</span><br>
        <ng-container *ngIf="isImage(ticketSelect.file.archivo)">
          <img
            [src]="ticketSelect.file.archivo"
            style="padding-left: 30px"
            alt="Imagen"
            width="200"
            (click)="openImageDialog(ticketSelect.file.archivo)"
          />
        </ng-container>
        <ng-container  *ngIf="!isImage(ticketSelect.file.archivo)">
          <a style="padding-left: 30px" [href]="ticketSelect.file.archivo" target="_blank">{{ticketSelect.file.archivo}}</a>
        </ng-container>
      </div>

      <div class="col-12"><mat-divider></mat-divider></div>
        <span style="padding-left: 20px;">* Detalle de la Solución Aplicada</span>
      <div class="col-12">
        <quill-editor #quillEditor2  [readOnly]="quillEditorReadOnly2" [formControl]="commentSupport"></quill-editor>
      </div>

      <div class="col-12 md:col-4 lg:col-4" *ngIf="ticketSelect.estado !== 'CERRADO'">
        <button mat-fab extended color="primary" [disabled]="commentSupport.value === null" (click)="guardarComentario(ticketSelect.id)">
          <mat-icon>add_circle</mat-icon> <strong>Guardar Detalle</strong>
        </button>
      </div>


      <div class="col-12" *ngIf="ticketSelect.estado === 'CERRADO'">
        <mat-divider></mat-divider>
        <span style="padding-left: 20px">* Satisfacción del Usuario</span>
        <mat-card-content class="col-12">
          <div class="grid" style="padding: 10px 0px;">
            <div class="col-12 md:col-8 lg:col-8" style="border-left: 2px solid #DCDFE1; border-right: 1px solid #DCDFE1; border-top: 2px solid #DCDFE1; border-bottom: 2px solid #DCDFE1; border-radius: 20px 0 0 20px;">
              <div class="grid" style="padding: 5px 2px;">
                <p class="col-4"><b>Nivel de Satisfacción</b></p><p class="col-8">{{ ticketSelect.satisfaccion }}</p>
                <p class="col-4"><b>Soporte</b></p><p class="col-8">{{ ticketSelect.soportePresente }}</p>
                <p class="col-4"><b>Sugerencia / Comentario</b></p><p class="col-8">{{ ticketSelect.sugerencias }}</p>
              </div>
            </div>
            <div class="col-12 md:col-4 lg:col-4" style="border-left: 1px solid #DCDFE1; border-right: 2px solid #DCDFE1; border-top: 2px solid #DCDFE1; border-bottom: 2px solid #DCDFE1; border-radius: 0 20px 20px 0;">
              <div class="grid" style="padding: 5px 2px;">
                <p class="col-4"><b>Ayuda Oportuna</b></p><p class="col-8">{{ ticketSelect.a_oportuna }}</p>
                <p class="col-4"><b>Problema Solucionado</b></p><p class="col-8">{{ ticketSelect.s_problema }}</p>
              </div>
            </div>
          </div>
        </mat-card-content>
      </div>
      <mat-divider></mat-divider>

      <div class="col-12">
        <div class="grid">
          <div class="col-12 md:col-3 lg:col-2" *ngIf="user()!.rol === 'ADMINISTRADOR'">
            <button mat-fab extended color="accent" routerLink="/dashboard/tickets">
              <mat-icon>arrow_back</mat-icon> <strong>Tickets</strong>
            </button>
          </div>
          <div class="col-12 md:col-3 lg:col-2"  *ngIf="user()!.rol === 'SOPORTE'">
            <button mat-fab extended color="accent" routerLink="/dashboard/assigned-tickets">
              <mat-icon>arrow_back</mat-icon> <strong>Tickets</strong>
            </button>
          </div>

          <div class="md:col-1 lg:col-4" *ngIf="ticketSelect.estado ==='EN PROCESO'"></div>
          <div class="md:col-1 lg:col-1" *ngIf="ticketSelect.estado !=='EN PROCESO'"></div>
          <div class="col-12 md:col-4 lg:col-3" *ngIf="ticketSelect.estado !=='EN PROCESO'">
            <button mat-fab extended color="primary" (click)="crearTicket(ticketSelect.id)" *ngIf="ticketSelect.estado !== 'CERRADO'">
              <mat-icon>assignment_turned_in</mat-icon> <strong>Duplicar Ticket</strong>
            </button>
          </div>
          <div class="col-12 md:col-4 lg:col-3" *ngIf="ticketSelect.estado ==='EN PROCESO'">
            <button mat-fab extended color="primary" (click)="crearTicket(ticketSelect.id)" >
              <mat-icon>assignment_turned_in</mat-icon> <strong>Duplicar Ticket</strong>
            </button>
          </div>
          <div class="col-12 md:col-4 lg:col-3" *ngIf="ticketSelect.estado !=='CERRADO' && ticketSelect.estado !=='EN PROCESO' && ticketSelect.estado !=='ABIERTO'">
            <button mat-fab extended color="primary" (click)="crearTicket(ticketSelect.id)">
              <mat-icon>assignment_turned_in</mat-icon> <strong>Duplicar Ticket</strong>
            </button>
          </div>
          <div class="col-12 md:col-4 lg:col-3" *ngIf="ticketSelect.estado !=='EN PROCESO'">
            <button mat-fab extended color="primary" (click)="enProcesoTicket()" *ngIf="ticketSelect.estado !== 'CERRADO'">
              <mat-icon>schedule</mat-icon> <strong>En Proceso</strong>
            </button>
          </div>
          <div class="col-12 md:col-4 lg:col-3" *ngIf="ticketSelect.estado ==='ABIERTO' || 'EN PROCESO'">
            <button mat-fab extended color="warn" (click)="cerrarTicket()" *ngIf="ticketSelect.estado !== 'CERRADO'">
              <mat-icon>done_outline</mat-icon> <strong>Cerrar Ticket</strong>
            </button>
          </div>
          <div class="col-12 md:col-4 lg:col-3" *ngIf="ticketSelect.estado ==='ABIERTO' || 'EN PROCESO'">
            <button mat-fab extended color="primary" (click)="cambiarDepartamento(ticketSelect.id)" *ngIf="ticketSelect.estado !== 'CERRADO'">
              <mat-icon>autorenew</mat-icon> <strong>Cambiar Departamento</strong>
            </button>
          </div>
        </div>
      </div>


    </mat-card>
  </div>
</div>

