
<div class="grid">
  <div class="col-12 md:col-12 lg:col-6">
    <mat-card>
      <mat-card-header>
        <mat-toolbar>
          <mat-card-title><span>Información Básica</span></mat-card-title>
        </mat-toolbar>
      </mat-card-header>
      <mat-card-content>
        <mat-divider></mat-divider>

        <div class="grid" *ngFor="let item of informacionBasica" style="padding: 5px 10px;">
          <p class="col-4"><b>{{ item.label }}</b></p><p class="col-8">{{ item.data }}</p>
        </div>

      </mat-card-content>
    </mat-card>

    <mat-divider></mat-divider>

    <mat-card>
      <mat-card-header>
        <mat-toolbar>
          <mat-card-title><span>Información Adicional</span></mat-card-title>
        </mat-toolbar>
      </mat-card-header>
      <mat-card-content>
        <mat-divider></mat-divider>
        <div class="grid" *ngFor="let item of informacionAdicional" style="padding: 5px 10px;">
          <p class="col-4"><b>{{ item.label }}</b></p><p class="col-8">{{ item.data }}</p>
        </div>

      </mat-card-content>
    </mat-card>

  </div>


  <div class="col-12 md:col-12 lg:col-6">
    <mat-card>
      <mat-card-header>
        <mat-toolbar>
          <mat-card-title><span>Información de Contacto</span></mat-card-title>
        </mat-toolbar>
      </mat-card-header>
      <mat-card-content>
        <mat-divider></mat-divider>
        <div class="grid" *ngFor="let item of informacionContacto" style="padding: 5px 10px;">
          <p class="col-4"><b>{{ item.label }}</b></p><p class="col-8">{{ item.data }}</p>
        </div>

      </mat-card-content>
    </mat-card>

  </div>

  <mat-divider></mat-divider>

</div>
