<!-- NAVBAR -->

<mat-toolbar class="mat-toolbar-first">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>

  <div style="display: flex; align-items: center" *ngIf="imagen">
    <img [src]="imageUrl" alt="mesa_ayuda" style="max-height: 50px"/>
  </div>

  <span class="spacer"></span>

  <!-- ICONO Y NOMBRE DE USUARIO  -->
  <span class="nombre">{{ user()?.nombre }}</span>

  &nbsp;

  <!-- OPCIONES DE USUARIO -->
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
    <!-- <mat-icon>account_circle</mat-icon> -->
  </button>
  <mat-menu #menu="matMenu">
    <button
      mat-menu-item
      *ngFor="let item of headerItems"
      [routerLink]="item.url"
    >
      <mat-icon>{{ item.icon }}</mat-icon>
      <span>{{ item.label }}</span>
    </button>
    <button mat-menu-item (click)="onLogout()">
      <mat-icon>exit_to_app</mat-icon>
      <span>Cerrar Sesión</span>
    </button>
  </mat-menu>
</mat-toolbar>

<!-- SIDENAVBAR -->
<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav">
    <!-- <div>
      <img
        [src]="imageUrl"
        alt="mesa_ayuda"
        style="object-fit: cover; width: 100%; height: 100%"
      />
    </div> -->

    <mat-divider></mat-divider>
    <span class="mesa">MESA DE AYUDA</span>
    <mat-divider></mat-divider>

    <div *ngIf="user()?.rol === 'SOPORTE'">
      <button mat-button disabled="">
        <span>{{user()?.rol}}</span>
      </button>

      <mat-divider></mat-divider>

      <button
        mat-button
        class="menu-button"
        *ngFor="let item of sidebarItemsSoporte"
        [routerLink]="item.url"
        routerLinkActive="menu-button-active"
      >
        <mat-icon>{{ item.icon }}</mat-icon>
        <span>{{ item.label }}</span>
      </button>
    </div>

    <div *ngIf="user()?.rol === 'ADMINISTRADOR'">
      <button mat-button disabled="">
        <span>{{user()?.rol}}</span>
      </button>

      <mat-divider></mat-divider>

      <button
        mat-button
        class="menu-button"
        *ngFor="let item of sidebarItemsAdmin"
        [routerLink]="item.url"
        routerLinkActive="menu-button-active"
      >
        <mat-icon>{{ item.icon }}</mat-icon>
        <span>{{ item.label }}</span>
      </button>
    </div>

    <mat-divider></mat-divider>
  </mat-sidenav>

  <!-- CONTENIDO HOME -->
  <mat-sidenav-content>
    <div class="content">
      <mat-toolbar class="mat-toolbar-second">
        <div class="titulo">{{ titulo }}</div>
      </mat-toolbar>
      <mat-divider></mat-divider>
      <router-outlet></router-outlet>
      <mat-divider></mat-divider>

      <div class="footer">
        <p>Derechos de autor &copy; {{anioActual}} Mesa de Ayuda - MSP - CZ3 - GZTICs. Todos los derechos reservados.</p>
        <p>Desarrollado por: Willian Pandi</p>
        <img [src]="imageUrl" alt="mesa_ayuda" style="max-height: 30px" />
      </div>

    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
