<img [src]="'assets/images/logo.png'" alt="mesa_ayuda" style="object-fit: cover; width: 100%; height: 100%;">

  <form class="login100-form p-l-55 p-r-55 p-b-20"
    autocomplete="off">

    <span class="login100-form-title p-t-20 p-b-20">
      Registrate
    </span>

    <div class="wrap-input100 m-b-25">
      <span class="label-input100">Identificación:</span>
      <input class="input100"
            type="text"
            placeholder="Numero de cedula">
      <span class="focus-input100"></span>
    </div>

    <div class="wrap-input100 m-b-25">
      <span class="label-input100">Nombres:</span>
      <input class="input100"
            type="text"
            placeholder="Nombres">
      <span class="focus-input100"></span>
    </div>

    <div class="wrap-input100 m-b-25">
      <span class="label-input100">Apellidos:</span>
      <input class="input100"
            type="text"
            placeholder="Apellidos">
      <span class="focus-input100"></span>
    </div>

    <div class="wrap-input100">
      <span class="label-input100">Correo electronico:</span>
      <input class="input100"
            type="text"
            placeholder="Email">
      <span class="focus-input100"></span>
    </div>

    <div class="wrap-input100">
      <span class="label-input100">Contraseña:</span>
      <input class="input100"
            type="text"
            placeholder="Ingrese su contraseña">
      <span class="focus-input100"></span>
    </div>

    <div class="text-right p-t-8 p-b-10"></div>
    <div class="container-login100-form-btn">
      <div class="wrap-login100-form-btn">
        <div class="login100-form-bgbtn"></div>
          <button class="login100-form-btn"
                  type="submit">
                  registrar
          </button>
        </div>
    </div>

    <div class="flex-col-c p-t-50">
      <a routerLink="/auth/login" class="txt2">
          atras
      </a>
    </div>




  </form>
