mat-toolbar {
  border-radius: 15px;
  background-color: #dcdfe1;
}
span{
  font-family: Poppins-Bold;
}

mat-divider{
  margin-top: 10px;
  margin-bottom: 10px;
}

table {
  width: 100%;
}

mat-form-field{
  width: 100%;
}

.boton{
  width: 100%;
}

