mat-toolbar {
  border-radius: 15px;
  background-color: #dcdfe1;
}
span{
  font-family: Poppins-Bold;
}

mat-divider{
  margin-top: 10px;
  margin-bottom: 10px;
}

mat-card{
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
